<p id="notice"><%= notice %></p>
<p>
    <%= @product.title %>
</p>

<p>
    <% @product.description %>
</p>

<p>
    <%= @product.image_url %>
</p>

<p>
    <%= @product.price %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
