<% @page_title = 'Register' %>
<h2>Register</h2>
<%= form_for @user, url: user_index_path do |f| %>
<p>
    Fullname:
    <%= f.text_field :fullname %>
</p>

<p>
    Username:
    <%= f.text_field :username %>
</p>

<p>
    Password:
    <%= f.password_field :password %>
</p>

<p>
    <%= f.submit %>
</p>
<% end %>